body {
    font-family: Montserrat, avenir, arial, sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    width: 800px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-size: 72px;
    color: #fff;
    padding-top: 35px;
    margin-bottom: 40px;
}

p {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#first {
    background-color: #f9d949;
    height: 450px;
    border-radius: 5px;
}

.first {
    color: #f9d949;
}
 
#first h1 {
    color: #222;
}
#first p {
    color: #222;
}

#second {
    height: 760px;
    background-color: rgb(45, 145, 224);
    border-radius: 5px;
}

.second {
    color: rgb(45, 145, 224);
}

#third {
    height: 600px;
    background-color: #FF4A4F;
    border-radius: 5px;
}

.third {
    color: #FF4A4F;
}

#fourth {
    background-color: #00F4C3;
    height: 540px;
    border-radius: 5px;
}

#fourth h1 {
    color: rgb(0, 43, 39);
}

#fourth p {
    color: rgb(0, 43, 39);
}

.fourth {
    color: #00F4C3;
}

a:link {
    font-size: 44px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 10px solid;
}

#arrow { 
    width: 0; 
    height: 0;
    border-top: 40px solid;
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent; 
    margin-top: -1px;
    margin-left: 46%;
}
